//font
$font-primary: "Oswald", "Arial", sans-serif;
$font-secondary: "Lato", "Arial", sans-serif;
$base-font-weight: 400;
$base-font-color: #000000;

//screen-size
$tablet-width: 768px;
$desktop-width: 1440px;

//content-size
$content-width-mobile: 280px;
$content-width-tablet: 708px;
$content-width-desktop: 1220px;
