.catalog-extra__title-container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 280px 1fr;
  align-items: center;
  margin-top: 23px;
  margin-bottom: 37px;

  &::after {
    content: "";
    border: 1px solid #68b738;
    grid-area: 1 / 2 / auto / -1;
    margin-bottom: 4px;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 708px 1fr;
    margin-top: 74px;
    margin-bottom: 81px;

    &::after {
      grid-area: 1 / 1 / auto / -1;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 73px;
    margin-bottom: 78px;
    grid-template-columns: 1fr 1220px 1fr;
  }
}

.catalog-extra__title {
  grid-area: 1 / 2 / auto / 3;
  margin: 0 auto 0 0;
  padding-right: 40px;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    padding-left: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-left: -40px;
  }
}

.catalog-extra__item {
  display: flex;
  flex-direction: column;

  border-top: 1px solid rgba(205, 205, 205, 1);
  border-bottom: 1px solid rgba(205, 205, 205, 1);

  height: 130px;

  @media (min-width: $tablet-width) {
    border: 1px solid rgba(205, 205, 205, 1);
    margin-bottom: -1px;
    padding: 26px 37px;
    height: 140px;
  }

  @media (min-width: $desktop-width) {
    min-width: 894px;
    height: 72px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-top: 1px solid rgba(205, 205, 205, 1);
    border-bottom: 1px solid rgba(205, 205, 205, 1);
    padding: 0;
    margin: 0;
  }

  &:last-child {
    padding-bottom: 19px;
  }
}

.catalog-extra__order-button {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin-top: 26px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    width: 244px;
    height: 40px;
  }
}

.catalog-extra__item-container {
  @media (min-width: $tablet-width) {
    display: flex;
    height: 16px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.catalog-extra__item-title {
  @include font-style(16px, 16px, 400, $base-font-color);
  text-transform: uppercase;
  height: 8px;
  margin: 16px 0 0;
  display: flex;
  align-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin: 3px 0 0;
  }

  @media (min-width: $desktop-width) {
    width: 325px;
  }
}

.catalog-extra__item-quantity,
.catalog-extra__item-price {
  @include font-style(14px, 20px, 400, $base-font-color, $font-secondary);
  color: rgba(68, 68, 68, 1);

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.catalog-extra__promotion {
  display: flex;
  flex-direction: column;
  place-content: center space-between;
  align-items: center;
  width: 280px;
  height: 290px;

  @media (max-width: $tablet-width - 1) {
    margin-top: 20px;
  }

  @include background-image-with-gradient("cat-carrier-mobile", rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85));

  @media (min-width: $tablet-width) {
    flex-direction: row;
    margin-top: 55px;
    width: 707px;
    height: 200px;

    @include background-image-with-gradient("cat-carrier-tablet", rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85));
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 245px;
    height: 288px;
    margin: 0;

    @include background-image-with-gradient("cat-carrier-desktop", rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85));
  }
}

.catalog-extra__promotion-icon {
  display: flex;
  width: 78px;
  height: 80.03px;
  margin-top: 58.91px;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 83px;

    margin: 0 0 0 77px;
  }

  @media (min-width: $desktop-width) {
    width: 80px;
    height: 83px;

    margin: 56px 0 0;
  }
}

.catalog-extra__promotion-icon--icon-gift {
  @include set-background-icon("gift");
}

.catalog-extra__promotion-title {
  @include font-style(16px, 20px, 400, #FFFFFF, $font-secondary);
  text-align: center;
  display: flex;

  width: 161px;
  height: 60px;

  margin-bottom: 43px;

  @media (min-width: $tablet-width) {
    text-align: left;
    font-size: 16px;
    line-height: 20px;

    margin: 0 125px 0 0;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    font-size: 16px;
    line-height: 20px;

    margin: 0 0 43px;
  }
}

.catalog-extra__list-container {
  display: flex;
  flex-direction: column;
  gap: 13px;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    gap: 80px;
  }
}

.catalog-extra__item-description-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    gap: 48px;
  }

  @media (min-width: $desktop-width) {
    width: 276px;
    margin-right: 30px;
    justify-content: space-between;
  }
}
