.contacts {
  background-color: rgba(242, 242, 242, 1);
}

.contacts__item {
  @media (max-width: $tablet-width - 1) {
    width: calc(100% - 40px);

    padding-top: 19px;
    padding-bottom: 20px;

    &:not(:last-child) {
      border-bottom: 1px solid rgba(217, 217, 217, 1);
    }

    &:first-child {
      padding-top: 40px;
    }

    &:last-child {
      padding-top: 11px;
    }
  }

  @media (min-width: $tablet-width) {
    &:first-child {
      padding-left: 30px;
    }

    &:last-child {
      padding-right: 30px;
    }
  }

  @media (min-width: $desktop-width) {
    &:first-child {
      padding-left: 110px;
    }

    &:last-child {
      padding-right: 110px;
    }
  }
}

.contacts__social-list {
  @media (min-width: $tablet-width) {
    padding-right: 125px;
  }

  @media (min-width: $tablet-width) {
    padding-right: 381px;
  }
}

.contacts__logo {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 13px;

  @media (min-width: $tablet-width) {
    padding: 0 160px 0 30px;
    justify-content: flex-start;
  }

  @media (min-width: $desktop-width) {
    padding: 0 416px 0 110px;
  }
}

.contacts__social-list {
  display: flex;
  justify-content: center;
}

.contacts__copyright {
  display: flex;
  width: 100%;

  @media (min-width: $tablet-width) {
    flex: 1;
    justify-content: space-between;
  }
}
