.contacts {
  background-color: rgba(242, 242, 242, 1);
}

.contacts__item {
  &:not(:last-child) {
    border-bottom: 1px solid rgba(217, 217, 217, 1);
  }

  width: calc(100% - 40px);

  padding-top: 19px;
  padding-bottom: 20px;

  &:first-child {
    padding-top: 40px;
  }

  &:last-child {
    padding-top: 11px;
  }
}

.contacts__logo {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 13px;

  @media (min-width: $tablet-width) {
    margin-left: 110px;
    padding: 0 160px 0 110px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 416px 0 110px;
  }
}

.contacts__social-list {
  display: flex;
  justify-content: center;
}

.contacts__copyright {
  display: flex;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 168px;
  }
}
