.copyright {
  justify-content: space-between;
  align-items: center;
}

.copyright__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.copyright__link-title {
  @include font-style(16px, 20px, 400, #444444, $font-secondary);
  text-transform: none;
  display: flex;

  @media (max-width: $tablet-width - 1) {
    margin-left: 20px;
  }

  color: #666666;
  transition: background-color 0.3s ease-in-out;

  &:is(:hover, :focus-visible, :focus) {
    color: #68b738;
  }

  &:active {
    opacity: 0.6;
  }
}

.copyright__link-logo {
  @include set-mask-icon("html-academy");
  display: flex;

  @media (max-width: $tablet-width - 1) {
    margin-right: 20px;
  }

  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: contain;
  background-color: #666666;
  transition: background-color 0.3s ease-in-out;

  &:is(:hover, :focus-visible, :focus) {
    background-color: #68b738;
  }

  &:active {
    opacity: 0.6;
  }
}
