.description-list__item-icon {
  display: block;
  height: 60px;
  width: 60px;

  background-repeat: no-repeat;
  background-position: center;
  background-color: #68b738;

  @media (min-width: $tablet-width) {
    height: 80px;
    width: 80px;
  }
}

.description-list__item-icon--icon-leaf {
  @include set-background-icon("leaf");
  background-size: 24.8px 28px;
}

.description-list__item-icon--icon-eat {
  @include set-background-icon("eat");
  background-size: 25.95px 28.68px;
}

.description-list__item-icon--icon-cup {
  @include set-background-icon("cup");
  background-size: 25.8px 30px;
}

.description-list__item-icon--icon-clock {
  @include set-background-icon("clock");
  background-size: 26px 31px;
}

.description-list__item {
  @include font-style(14px, 18px, 400, $base-font-color, $font-secondary);

  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  counter-increment: marker 1;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  @media (min-width: $tablet-width) {
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    min-height: 280px;
    padding: 40px 80px 40px 0;
    width: 325px;

    &::after {
      @include font-style(280px, 280px, 400, #f2f2f2);
      content: counter(marker);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 115px;
      z-index: -1;
    }

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
    width: 245px;
  }
}

.description-list__description {
  @include font-style(14px, 18px, 400, $base-font-color, $font-secondary);
  margin: 0;
  width: 69%;

  @media (min-width: $tablet-width) {
    width: 100%;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 4px;
  }
}
