.page__catalog {
  &::before {
    display: none;
  }

  @media (max-width: $tablet-width - 1) {
    border-bottom: 1px solid rgba(217, 217, 217, 1);
  }
}

.page__body {
  display: flex;
  flex-direction: column;
}

.page__main {
  display: flex;
  flex-direction: column;
}

.page__footer {
  display: flex;
  flex-direction: column;
}

