.product-card {
  display: flex;
  justify-content: center;
  width: 100%;
  border-top: 1px solid #ebebeb;

  @media (min-width: $tablet-width) {
    width: unset;
    border-top: none;
  }
}

.product-card__show-more-description {
  @include font-style(12px, 16px, 400, #444444, $font-secondary);
  text-align: center;
  margin: 0 0 20px;

  @media (min-width: $tablet-width) {
    padding-inline: 48px;
    text-align: center;
    font-size: 16px;
    line-height: 18px;
  }

  @media (min-width: $desktop-width) {
    padding-inline: 20px;
  }
}

.product-card__container {
  padding: 24px 0 21px;
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: 140px 140px;

  @media (min-width: $tablet-width) {
    padding: 0 37px 41px;
    background: linear-gradient(transparent 81px, #f2f2f2 81px);
    grid-template-rows: minmax(100px, auto) 1fr auto;
    grid-template-columns: 1fr;
    gap: 12px;
    width: 324px;
  }

  @media (min-width: $desktop-width) {
    grid-template-rows: minmax(100px, auto) auto 1fr auto;
    gap: 8px;
    width: 245px;
    padding: 0 37px 46px;
  }
}

.product-card__link {
  grid-row: 1 / -2;
  place-self: center;
}

.product-card__title {
  @include font-style(16px, 20px, 400, #222222);
  margin: 0;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }
}

.product-card__description-list-item {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding: 5px 0;
    border-bottom: 1px solid #cdcdcd;
  }
}

.product-card__description-list-item-property,
.product-card__description-list-item-value {
  @include font-style(12px, 16px, 400, #444444, $font-secondary);

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.product-card__show-more-title {
  @include font-style(16px, 20px, 400, #111111);
  margin: 0 0 8px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-inline: 35px;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    width: 76%;
  }

  @media (min-width: $desktop-width) {
    padding-inline: 20px;
    margin-bottom: 17px;
  }
}

.product-card__order-button {
  margin-top: 16px;
  padding: 10px 0;
  text-align: center;
  grid-area: -2 / 1 / -1 / -1;

  @media (min-width: $tablet-width) {
    grid-area: unset;
    margin-top: 21px;
  }
}

.products-card__title {
  @include font-style(16px, 20px);
  margin: 0;
  margin-bottom: 7px;
  text-transform: uppercase;
  width: 90px;

  @media (min-width: $tablet-width) {
    text-align: center;
    justify-self: center;
    margin-bottom: 2px;
    width: 150px;
    font-size: 20px;
    line-height: 24px;
  }
}

.product-card__link-title {
  margin-bottom: 7px;
  text-decoration: none;
  width: 90px;

  @media (min-width: $tablet-width) {
    text-align: center;
    justify-self: center;
    width: 150px;
    margin-bottom: 2px;
  }
}

.products-card__container {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: 140px 140px;
  padding: 24px 0 21px;

  @media (min-width: $tablet-width) {
    grid-template-rows: minmax(100px, auto) 1fr auto;
    grid-template-columns: 1fr;
    gap: 12px;
    padding: 0 37px 41px;
    width: 324px;
    background: linear-gradient(transparent 81px, #f2f2f2 81px);
  }

  @media (min-width: $desktop-width) {
    padding: 0 37px 46px;
    grid-template-rows: minmax(100px, auto) auto 1fr auto;
    width: 245px;
    gap: 8px;
  }
}

.product-card__image {
  height: 103px;

  @media (min-width: $tablet-width) {
    height: 226px;
  }
}

.products-card {
  display: flex;
  justify-content: center;
  width: 100%;
  border-top: 1px solid #ebebeb;

  &:last-of-type {
    border-bottom: 1px solid #eaeaea;
  }

  @media (min-width: $tablet-width) {
    border-top: none;
    width: unset;

    &:last-of-type {
      border-bottom: 0;
    }
  }
}

.products-card__param {
  @include font-style(12px, 16px, $base-font-weight, $base-font-color, $font-secondary);
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
  }
}

.products-card__link {
  place-self: center;
  grid-row: 1 / -2;

  @media (min-width: $tablet-width) {
    grid-row: unset;
  }
}

.products-card__param-container {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding: 5px 0;
    border-bottom: 1px solid #cdcdcd;
  }

  @media (min-width: $desktop-width) {
    padding: 6.5px 0;
  }
}

.products-card__button {
  grid-area: -2 / 1 / -1 / -1;
  padding: 10px 0;
  text-align: center;
  margin-top: 16px;

  @media (min-width: $tablet-width) {
    grid-area: unset;
    margin-top: 21px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 25px;
  }
}

.products-card__button--additional {
  margin-top: 12px;

  @media (min-width: $tablet-width) {
    margin-top: 11px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    width: 40%;
  }
}

.products-card-more {
  @media (min-width: $tablet-width) {
    padding-top: 81px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 75px;
  }
}

.product-card__show-more {
  display: flex;
  flex-direction: column;
  padding: 28px 0;
  width: 280px;

  &::before {
    @include set-background-icon("plus");
    content: "";
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    place-self: center;
    margin-bottom: 24px;
    width: 30px;
    height: 30px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 49px;
    padding-bottom: 40px;
    justify-content: center;
    align-items: center;
    border: 2px solid #f2f2f2;
    background: transparent;
    width: 324px;

    &::before {
      margin-bottom: 38px;
      width: 60px;
      height: 60px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 44px;
    width: 245px;

    &::before {
      margin-bottom: 31px;
    }
  }
}

.product-card__show-all-button {
  padding: 10px 0;
  color: #444444;
  background-color: #f2f2f2;
  transition: background-color ease-in-out 0.3s;

  &:hover,
  &:active,
  &:focus {
    background-color: #ebebeb;
    color: #444444;
  }

  @media (min-width: $tablet-width) {
    margin-top: auto;
    width: 78%;
  }

  @media (min-width: $desktop-width) {
    width: 70%;
  }
}
