.products {
  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.products__item {
  display: grid;
  grid-template-columns: 70px 1fr;
  gap: 22px 0;
  padding: 21px 20px;
  background-color: #f2f2f2;

  &::before {
    content: "";
    display: block;
    width: 67px;
    height: 54px;
    margin-left: -8px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  @media (min-width: $tablet-width) {
    padding: 76px 63px 52px 52px;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 1fr 240px;
    gap: 16px 10px;

    &::before {
      justify-self: end;
      grid-area: 1 / 2 / -1 / 3;
      width: 200px;
      height: 217px;
    }
  }

  @media (min-width: $desktop-width) {
    gap: 10px;
    grid-template-columns: 152px 1fr;
    padding: 47px 52px 55px;
    min-height: 374px;
    max-width: 570px;

    &:not(:last-child) {
      margin-bottom: 0;
    }

    &::before {
      justify-self: flex-start;
      grid-area: auto;
      width: 100px;
      height: 106px;
      margin-left: 1px;
      margin-top: -6px;
    }
  }
}

.products__item--slim::before {
  @include set-background-icon("cat-slim");
}

.products__item--pro::before {
  @include set-background-icon("cat-pro");
  margin-left: -8px;

  @media (min-width: $tablet-width) {
    width: 268px;
    height: 200px;
    margin-top: 14px;
    margin-left: 0;
    margin-right: -34px;
  }

  @media (min-width: $desktop-width) {
    width: 134px;
    height: 100px;
    margin-left: -19px;
    margin-top: 0;
    margin-right: 0;
  }
}

.products__item-title {
  @include font-style(24px, 37px);
  margin: 0;
  align-self: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 10px;
  }
}

.products__description {
  @include font-style(14px, 18px, 400, $base-font-color, $font-secondary);
  margin: 0;
  grid-column: 1 / -1;

  @media (min-width: $tablet-width) {
    padding-bottom: 2px;
    padding-top: 9px;
    font-size: 16px;
    line-height: 24px;
    grid-area: unset;
  }

  @media (min-width: $desktop-width) {
    padding-top: 26px;
    font-size: 15.2px;
    grid-column: 1 / -1;
  }
}

.products__link {
  @include font-style(16px, 16px);
  display: flex;
  align-items: center;
  text-transform: uppercase;
  padding-top: 19px;
  grid-column: 1 / -1;
  width: 100%;
  border-top: 1px solid #d9d9d9;

  &:active {
    opacity: 0.5;
  }

  &::after {
    @include set-background-icon("arrow");
    content: "";
    margin-left: 15px;
    width: 24px;
    height: 12px;
    transition: transform 0.3s linear;
    transform-origin: left center;
  }

  &:is(:hover, :active, :focus-visible, :focus)::after {
    transform: scaleX(1.35);
  }

  @media (min-width: $tablet-width) {
    grid-area: unset;
    justify-self: start;
    border-top: none;
    padding-top: 34px;
    font-size: 20px;
    line-height: 30px;

    &::after {
      margin-left: 27px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 0px;
    grid-column: 1 / -1;
  }
}

.products__list {
  display: flex;
  flex-direction: column;
  gap: 21px;
  padding: 0 0 21px;
  margin: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    gap: 37px;
    padding: 0 0 50px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    gap: 80px;
    padding: 82px 0 71px;
  }
}
